.light {
  background-color: #707070;
}

.light::before,
.light::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  transition: opacity var(--transition-duration) ease;
}

.light::before {
  background: #3291ff;
  box-shadow: 0px 0px 2px 1px rgba(50, 145, 255, 0.25);
}

.light::after {
  background: #ffffff;
  box-shadow:
    0px 0px 1px 1px rgba(50, 145, 255, 0.8),
    0px 0px 2px 1px rgba(50, 145, 255, 0.25);
}

.light[data-state='medium']::before {
  opacity: 1;
}

.light[data-state='high']::after {
  opacity: 1;
}
