@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .shiki {
    @apply overflow-x-auto border border-neutral-200 dark:border-neutral-700;
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  html.light .shiki,
  html.light .shiki span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
  }
}

.shadow-svg {
  filter: drop-shadow(0px 0px 6px theme('colors.emerald.300/60'));
}
.animate-infinite-scroll .shadow-svg {
  filter: drop-shadow(0px 0px 6px var(--color-neutral-200));
}
.group:hover .animate-infinite-scroll .shadow-svg {
  filter: drop-shadow(0px 0px 6px theme('colors.emerald.300/60'));
}
